<!-- search for rentals -->
<div class="container text-center" style="padding: 90px 0;">
	<h1>What can we help you rent?</h1>
<div class="row" style="padding: 40px 0;">
<!--	<div class="col-lg-8"> -->
	<div class="col-lg-8">
		<form action="/search">
			<div class="container">
				<div class="form-group col-lg-8 col-lg-offset-2">
					<div class="input-group-lg">
						<input type="text" class="form-control form-control-lg col-lg-4"
							   placeholder="e.g. Carpet Cleaner in Calgary" queryString="query" value="{{searchText}}">
					</div>
					<div id="advOpt" class="input-group-lg" style="margin-top: 60px; clear: both;" *ngIf=visible>
					<label for="price-range">Price Range:</label>
					<input type="int" id="price-range" priceFilter="price" placeholder="From"> - <input type="int" id="price-range-to" priceFilter="price" placeholder="To"><br />
						<div class="col-lg-8">

						<label for="location">Location range:</label>
						<div class="col-lg-4 pull-right">
							<select id="location" class="form-control" location="location">
						<option value="km1">Within 1 KM</option>
						<option value="km3">Within 3 KM</option>
						<option value="km5" selected>Within 5 KM</option>
						<option value="km10">Within 10 KM</option>
						<option value="over10">10 KM+</option>
					</select>
						</div></div>
				</div>						
					<div style="margin-top: 60px; clear: both;">
						<button type="submit" class="btn btn-primary btn-lg">Find Stuff</button>
						<button type="submit" class="btn btn-primary-outline btn-lg" (click)="clickAdvanced()">Advanced Search</button>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>
</div>