<title> Confirm purchase </title>
<h1> You are renting Oakley Snowboard </h1>
<div>
<h2> Would you like to insure your rental for</h2>
	<select id="insurance" class="form-control" insurance="insurance">
		<option value="none">No insurance</option>
		<option value="normal">Regular insurance (up to $200)</option>
		<option value="enhanced"> Enhanced insurance (up to $500)</option>
		<option value="premium">Premium insurance (up to $1000)</option>
	</select>
	
<h2> How many days would you like to rent it for? </h2>
<input type="number" days = 'days'> value </input> 
	
</div>
<h2 id="price"> Total Price </h2>
