<!-- Pricing page -->
<div class="container main-pricing" style="padding: 0;">
    <h1>How it Works</h1>
    <div class="row">
        <div class="col-lg-6">
            <h2>I want to rent stuff</h2>
            <p>As a renter, we know that you're looking to find a tool quickly and affordably. We've got you covered.</p>
            <h3>How much does it cost?</h3>
            <p>The owner sets the deposit and rental price. It's negotiable with the provider. The price you see, is the price you pay.</p>
            <h3>What about damage protection?</h3>
            <p>A deposit is required on all transactions. The owner sets the deposit amount which is refunded upon an approved rental return. </p>
        </div>
        <div class="col-lg-6">
            <h2>I have stuff to rent</h2>
            <p>You've got stuff taking up valuable space in your world that you need, but not right now. Let us help you make a few extra bucks and clear some space, without selling your prized snowboard that is used once a season.</p>
            <h3>What about theft &amp; protection?</h3>
            <p>A deposit is required on all transactions. As the owner, you set the deposit amount which is refunded upon an approved rental return. For items valued over $500 an additional insurance premium is added to the rental agreement.</p>
            <h3>How much does it cost?</h3>
            <p>It costs you nothing to list your stuff for rent unless you would like to feature your items listing to have preferential treatment in the listings and home page of our site. A flat fee of 30% is taken from the rental fee, once the item is rented. </p>
        </div>
    </div>
</div>
