    <div class="container">
        <div class="row">
            <div class="feat-item">
                <img src="/assets/images/snowboard.jpg">
                <h3>Oakley Snowboard</h3>
                <p>This snowboard is a joy to carve f...</p>
                <p class="price">$18/day</p>
            </div>

            <div class="feat-item">
                <img src="/assets/images/xboxone.jpg">
                <h3>Xbox One</h3>
                <p>Available with selection of 30 games.</p>
                <p class="price">$8/day</p>
            </div>

        </div>
    </div>