    <div class="container">
        <div class="row" style="margin-top: -85px;">

            <!-- repeat this section up to 3 times on the home page -->
            <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                <img class="card-img-top" src="/assets/images/snowboard-tn.jpg" alt="Oakley Snowboard">
                <div class="card-block">
                    <h3 class="card-title">Oakley Snowboard</h3>
                    <p class="card-text">This snowboard is a joy to carve f...</p>
                    <a href="#" class="card-link">More</a>
                    <a href="#" class="btn btn-primary pull-right">Rent $18/day</a>
                </div>
                </div>
            </div>
            </div>
            <!-- end repeat section, remove extra code below -->


            <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                <img class="card-img-top" src="/assets/images/xboxone-tn.jpg" alt="Oakley Snowboard">
                <div class="card-block">
                    <h3 class="card-title">Xbox One /w 30 Games</h3>
                    <p class="card-text">Available with selection of 30 games..</p>
                    <a href="#" class="card-link">More</a>
                    <a href="#" class="btn btn-primary pull-right">Rent $6/day</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>