<!-- Category Display -->
<div class="container categories">
    <div class="col-lg-4">
    <h2><i class="fa fa-gamepad" aria-hidden="true"></i> Electronics</h2>
        <ul>
            <li>Game Consoles
            <ul><li>Nintendo</li><li>Playstation</li><li>Xbox</li></ul></li>
            <li>Televisions &amp; Projectors</li>
            <li>Photography Equipment</li>
        </ul>
    </div>
    <div class="col-lg-4">
    <h2><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</h2>
    </div>
    <div class="col-lg-4">
    <h2><i class="fa fa-wrench" aria-hidden="true"></i> Tools</h2>
    </div>
</div>